{
  "name": "Qikoo Landing",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "sass/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"assets/css/style.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "sass/applify/_applify.scss",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"assets/css/applify.min.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "assets/css",
      "sass"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "sass/style.scss",
      "imports": [
        "sass/applify/core/_configuration.scss",
        "sass/bootstrap-4.0.0-beta/_bootstrap-custom.scss",
        "sass/applify/_applify.scss",
        "sass/bootstrap-4.0.0-beta/_functions.scss",
        "sass/bootstrap-4.0.0-beta/_variables.scss",
        "sass/bootstrap-4.0.0-beta/_mixins.scss",
        "sass/bootstrap-4.0.0-beta/_reboot.scss",
        "sass/bootstrap-4.0.0-beta/_type.scss",
        "sass/bootstrap-4.0.0-beta/_grid.scss",
        "sass/bootstrap-4.0.0-beta/_forms.scss",
        "sass/bootstrap-4.0.0-beta/_buttons.scss",
        "sass/bootstrap-4.0.0-beta/_transitions.scss",
        "sass/bootstrap-4.0.0-beta/_dropdown.scss",
        "sass/bootstrap-4.0.0-beta/_button-group.scss",
        "sass/bootstrap-4.0.0-beta/_input-group.scss",
        "sass/bootstrap-4.0.0-beta/_pagination.scss",
        "sass/bootstrap-4.0.0-beta/_badge.scss",
        "sass/bootstrap-4.0.0-beta/_custom-forms.scss",
        "sass/bootstrap-4.0.0-beta/_nav.scss",
        "sass/bootstrap-4.0.0-beta/_navbar.scss",
        "sass/bootstrap-4.0.0-beta/_card.scss",
        "sass/bootstrap-4.0.0-beta/_modal.scss",
        "sass/bootstrap-4.0.0-beta/_utilities.scss",
        "sass/applify/mixins/_animations.scss",
        "sass/applify/mixins/_breakpoints.scss",
        "sass/applify/mixins/_colors.scss",
        "sass/applify/mixins/_shadows.scss",
        "sass/applify/mixins/_transform.scss",
        "sass/applify/mixins/_flexbox.scss",
        "sass/applify/libs/font-awesome/_font-awesome.scss",
        "sass/applify/libs/font/_vazir.scss",
        "sass/applify/libs/owl.carousel/_owl.carousel.scss",
        "sass/applify/libs/simple-line-icons/_simple-line-icons.scss",
        "sass/applify/libs/slider-pro/_slider-pro.scss",
        "sass/applify/libs/prism/_prism.scss",
        "sass/applify/utilities/_animations.scss",
        "sass/applify/utilities/_colors.scss",
        "sass/applify/utilities/_media.scss",
        "sass/applify/utilities/_shadows.scss",
        "sass/applify/utilities/_spacing.scss",
        "sass/applify/utilities/_typography.scss",
        "sass/applify/core/_base.scss",
        "sass/applify/core/_base_rtl.scss",
        "sass/applify/components/_accordion.scss",
        "sass/applify/components/_buttons.scss",
        "sass/applify/components/_cards.scss",
        "sass/applify/components/_collapsible-nav.scss",
        "sass/applify/components/_dropdowns.scss",
        "sass/applify/components/_footer.scss",
        "sass/applify/components/_hero.scss",
        "sass/applify/components/_icon-blocks.scss",
        "sass/applify/components/_logos-cloud.scss",
        "sass/applify/components/_modal.scss",
        "sass/applify/components/_navbar.scss",
        "sass/applify/components/_sections.scss",
        "sass/applify/components/_tabs.scss",
        "sass/applify/components/_video.scss",
        "sass/applify/components/_showcase-blocks.scss",
        "sass/applify/components/_steps.scss",
        "sass/applify/modules/_accordion-showcase.scss",
        "sass/applify/modules/_app-screens.scss",
        "sass/applify/modules/_app-showcase.scss",
        "sass/applify/modules/_app-stats.scss",
        "sass/applify/modules/_blog.scss",
        "sass/applify/modules/_clients-logos.scss",
        "sass/applify/modules/_device-slider.scss",
        "sass/applify/modules/_pricing-cards.scss",
        "sass/applify/modules/_tabbed-showcase.scss",
        "sass/applify/modules/_testimonials.scss",
        "sass/applify/modules/_coming-soon.scss",
        "sass/applify/modules/_pricing-table.scss",
        "sass/applify/modules/_api-docs.scss",
        "sass/applify/modules/_contact-page.scss",
        "sass/applify/modules/_404-page.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_breakpoints.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_hover.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_image.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_badge.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_resize.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_screen-reader.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_size.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_reset-text.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_text-emphasis.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_text-hide.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_text-truncate.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_visibility.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_alert.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_buttons.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_caret.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_pagination.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_lists.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_list-group.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_nav-divider.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_forms.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_table-row.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_background-variant.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_border-radius.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_box-shadow.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_gradients.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_transition.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_clearfix.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_navbar-align.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_grid-framework.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_grid.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_float.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_align.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_background.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_borders.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_clearfix.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_display.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_embed.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_flex.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_float.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_position.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_screenreaders.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_sizing.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_spacing.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_text.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_visibility.scss",
        "sass/applify/libs/font-awesome/_variables.scss",
        "sass/applify/libs/font-awesome/_mixins.scss",
        "sass/applify/libs/font-awesome/_path.scss",
        "sass/applify/libs/font-awesome/_core.scss",
        "sass/applify/libs/font-awesome/_icons.scss",
        "sass/applify/libs/font/_variables.scss",
        "sass/applify/libs/font/_core.scss",
        "sass/applify/libs/owl.carousel/_core.scss",
        "sass/applify/libs/owl.carousel/_animate.scss",
        "sass/applify/libs/owl.carousel/_autoheight.scss",
        "sass/applify/libs/owl.carousel/_theme.default.scss",
        "sass/applify/libs/owl.carousel/_theme.scss"
      ]
    },
    {
      "path": "sass/applify/_applify.scss",
      "imports": [
        "sass/applify/mixins/_animations.scss",
        "sass/applify/mixins/_breakpoints.scss",
        "sass/applify/mixins/_colors.scss",
        "sass/applify/mixins/_shadows.scss",
        "sass/applify/mixins/_transform.scss",
        "sass/applify/mixins/_flexbox.scss",
        "sass/applify/libs/font-awesome/_font-awesome.scss",
        "sass/applify/libs/font/_vazir.scss",
        "sass/applify/libs/owl.carousel/_owl.carousel.scss",
        "sass/applify/libs/simple-line-icons/_simple-line-icons.scss",
        "sass/applify/libs/slider-pro/_slider-pro.scss",
        "sass/applify/libs/prism/_prism.scss",
        "sass/applify/utilities/_animations.scss",
        "sass/applify/utilities/_colors.scss",
        "sass/applify/utilities/_media.scss",
        "sass/applify/utilities/_shadows.scss",
        "sass/applify/utilities/_spacing.scss",
        "sass/applify/utilities/_typography.scss",
        "sass/applify/core/_base.scss",
        "sass/applify/core/_base_rtl.scss",
        "sass/applify/components/_accordion.scss",
        "sass/applify/components/_buttons.scss",
        "sass/applify/components/_cards.scss",
        "sass/applify/components/_collapsible-nav.scss",
        "sass/applify/components/_dropdowns.scss",
        "sass/applify/components/_footer.scss",
        "sass/applify/components/_hero.scss",
        "sass/applify/components/_icon-blocks.scss",
        "sass/applify/components/_logos-cloud.scss",
        "sass/applify/components/_modal.scss",
        "sass/applify/components/_navbar.scss",
        "sass/applify/components/_sections.scss",
        "sass/applify/components/_tabs.scss",
        "sass/applify/components/_video.scss",
        "sass/applify/components/_showcase-blocks.scss",
        "sass/applify/components/_steps.scss",
        "sass/applify/modules/_accordion-showcase.scss",
        "sass/applify/modules/_app-screens.scss",
        "sass/applify/modules/_app-showcase.scss",
        "sass/applify/modules/_app-stats.scss",
        "sass/applify/modules/_blog.scss",
        "sass/applify/modules/_clients-logos.scss",
        "sass/applify/modules/_device-slider.scss",
        "sass/applify/modules/_pricing-cards.scss",
        "sass/applify/modules/_tabbed-showcase.scss",
        "sass/applify/modules/_testimonials.scss",
        "sass/applify/modules/_coming-soon.scss",
        "sass/applify/modules/_pricing-table.scss",
        "sass/applify/modules/_api-docs.scss",
        "sass/applify/modules/_contact-page.scss",
        "sass/applify/modules/_404-page.scss",
        "sass/applify/libs/font-awesome/_variables.scss",
        "sass/applify/libs/font-awesome/_mixins.scss",
        "sass/applify/libs/font-awesome/_path.scss",
        "sass/applify/libs/font-awesome/_core.scss",
        "sass/applify/libs/font-awesome/_icons.scss",
        "sass/applify/libs/font/_variables.scss",
        "sass/applify/libs/font/_core.scss",
        "sass/applify/libs/owl.carousel/_core.scss",
        "sass/applify/libs/owl.carousel/_animate.scss",
        "sass/applify/libs/owl.carousel/_autoheight.scss",
        "sass/applify/libs/owl.carousel/_theme.default.scss",
        "sass/applify/libs/owl.carousel/_theme.scss"
      ]
    },
    {
      "path": "sass/bootstrap-4.0.0-beta/_bootstrap-custom.scss",
      "imports": [
        "sass/bootstrap-4.0.0-beta/_functions.scss",
        "sass/bootstrap-4.0.0-beta/_variables.scss",
        "sass/bootstrap-4.0.0-beta/_mixins.scss",
        "sass/bootstrap-4.0.0-beta/_reboot.scss",
        "sass/bootstrap-4.0.0-beta/_type.scss",
        "sass/bootstrap-4.0.0-beta/_grid.scss",
        "sass/bootstrap-4.0.0-beta/_forms.scss",
        "sass/bootstrap-4.0.0-beta/_buttons.scss",
        "sass/bootstrap-4.0.0-beta/_transitions.scss",
        "sass/bootstrap-4.0.0-beta/_dropdown.scss",
        "sass/bootstrap-4.0.0-beta/_button-group.scss",
        "sass/bootstrap-4.0.0-beta/_input-group.scss",
        "sass/bootstrap-4.0.0-beta/_pagination.scss",
        "sass/bootstrap-4.0.0-beta/_badge.scss",
        "sass/bootstrap-4.0.0-beta/_custom-forms.scss",
        "sass/bootstrap-4.0.0-beta/_nav.scss",
        "sass/bootstrap-4.0.0-beta/_navbar.scss",
        "sass/bootstrap-4.0.0-beta/_card.scss",
        "sass/bootstrap-4.0.0-beta/_modal.scss",
        "sass/bootstrap-4.0.0-beta/_utilities.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_breakpoints.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_hover.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_image.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_badge.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_resize.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_screen-reader.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_size.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_reset-text.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_text-emphasis.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_text-hide.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_text-truncate.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_visibility.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_alert.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_buttons.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_caret.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_pagination.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_lists.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_list-group.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_nav-divider.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_forms.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_table-row.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_background-variant.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_border-radius.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_box-shadow.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_gradients.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_transition.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_clearfix.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_navbar-align.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_grid-framework.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_grid.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_float.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_align.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_background.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_borders.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_clearfix.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_display.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_embed.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_flex.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_float.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_position.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_screenreaders.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_sizing.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_spacing.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_text.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_visibility.scss"
      ]
    },
    {
      "path": "sass/bootstrap-4.0.0-beta/_mixins.scss",
      "imports": [
        "sass/bootstrap-4.0.0-beta/mixins/_breakpoints.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_hover.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_image.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_badge.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_resize.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_screen-reader.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_size.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_reset-text.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_text-emphasis.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_text-hide.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_text-truncate.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_visibility.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_alert.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_buttons.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_caret.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_pagination.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_lists.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_list-group.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_nav-divider.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_forms.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_table-row.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_background-variant.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_border-radius.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_box-shadow.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_gradients.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_transition.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_clearfix.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_navbar-align.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_grid-framework.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_grid.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_float.scss"
      ]
    },
    {
      "path": "sass/bootstrap-4.0.0-beta/_utilities.scss",
      "imports": [
        "sass/bootstrap-4.0.0-beta/utilities/_align.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_background.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_borders.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_clearfix.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_display.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_embed.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_flex.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_float.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_position.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_screenreaders.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_sizing.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_spacing.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_text.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_visibility.scss"
      ]
    },
    {
      "path": "sass/applify/libs/font/_vazir.scss",
      "imports": [
        "sass/applify/libs/font/_variables.scss",
        "sass/applify/libs/font/_core.scss"
      ]
    },
    {
      "path": "sass/applify/libs/font-awesome/_font-awesome.scss",
      "imports": [
        "sass/applify/libs/font-awesome/_variables.scss",
        "sass/applify/libs/font-awesome/_mixins.scss",
        "sass/applify/libs/font-awesome/_path.scss",
        "sass/applify/libs/font-awesome/_core.scss",
        "sass/applify/libs/font-awesome/_icons.scss"
      ]
    },
    {
      "path": "sass/applify/libs/owl.carousel/_owl.carousel.scss",
      "imports": [
        "sass/applify/libs/owl.carousel/_core.scss",
        "sass/applify/libs/owl.carousel/_animate.scss",
        "sass/applify/libs/owl.carousel/_autoheight.scss",
        "sass/applify/libs/owl.carousel/_theme.default.scss",
        "sass/applify/libs/owl.carousel/_theme.scss"
      ]
    },
    {
      "path": "sass/applify/libs/owl.carousel/_theme.default.scss",
      "imports": [
        "sass/applify/libs/owl.carousel/_theme.scss"
      ]
    },
    {
      "path": "sass/style.scss",
      "imports": [
        "sass/applify/core/_configuration.scss",
        "sass/bootstrap-4.0.0-beta/_bootstrap-custom.scss",
        "sass/applify/_applify.scss",
        "sass/bootstrap-4.0.0-beta/_functions.scss",
        "sass/bootstrap-4.0.0-beta/_variables.scss",
        "sass/bootstrap-4.0.0-beta/_mixins.scss",
        "sass/bootstrap-4.0.0-beta/_reboot.scss",
        "sass/bootstrap-4.0.0-beta/_type.scss",
        "sass/bootstrap-4.0.0-beta/_grid.scss",
        "sass/bootstrap-4.0.0-beta/_forms.scss",
        "sass/bootstrap-4.0.0-beta/_buttons.scss",
        "sass/bootstrap-4.0.0-beta/_transitions.scss",
        "sass/bootstrap-4.0.0-beta/_dropdown.scss",
        "sass/bootstrap-4.0.0-beta/_button-group.scss",
        "sass/bootstrap-4.0.0-beta/_input-group.scss",
        "sass/bootstrap-4.0.0-beta/_pagination.scss",
        "sass/bootstrap-4.0.0-beta/_badge.scss",
        "sass/bootstrap-4.0.0-beta/_custom-forms.scss",
        "sass/bootstrap-4.0.0-beta/_nav.scss",
        "sass/bootstrap-4.0.0-beta/_navbar.scss",
        "sass/bootstrap-4.0.0-beta/_card.scss",
        "sass/bootstrap-4.0.0-beta/_modal.scss",
        "sass/bootstrap-4.0.0-beta/_utilities.scss",
        "sass/applify/mixins/_animations.scss",
        "sass/applify/mixins/_breakpoints.scss",
        "sass/applify/mixins/_colors.scss",
        "sass/applify/mixins/_shadows.scss",
        "sass/applify/mixins/_transform.scss",
        "sass/applify/mixins/_flexbox.scss",
        "sass/applify/libs/font-awesome/_font-awesome.scss",
        "sass/applify/libs/font/_vazir.scss",
        "sass/applify/libs/owl.carousel/_owl.carousel.scss",
        "sass/applify/libs/simple-line-icons/_simple-line-icons.scss",
        "sass/applify/libs/slider-pro/_slider-pro.scss",
        "sass/applify/libs/prism/_prism.scss",
        "sass/applify/utilities/_animations.scss",
        "sass/applify/utilities/_colors.scss",
        "sass/applify/utilities/_media.scss",
        "sass/applify/utilities/_shadows.scss",
        "sass/applify/utilities/_spacing.scss",
        "sass/applify/utilities/_typography.scss",
        "sass/applify/core/_base.scss",
        "sass/applify/core/_base_rtl.scss",
        "sass/applify/components/_accordion.scss",
        "sass/applify/components/_buttons.scss",
        "sass/applify/components/_cards.scss",
        "sass/applify/components/_collapsible-nav.scss",
        "sass/applify/components/_dropdowns.scss",
        "sass/applify/components/_footer.scss",
        "sass/applify/components/_hero.scss",
        "sass/applify/components/_icon-blocks.scss",
        "sass/applify/components/_logos-cloud.scss",
        "sass/applify/components/_modal.scss",
        "sass/applify/components/_navbar.scss",
        "sass/applify/components/_sections.scss",
        "sass/applify/components/_tabs.scss",
        "sass/applify/components/_video.scss",
        "sass/applify/components/_showcase-blocks.scss",
        "sass/applify/components/_steps.scss",
        "sass/applify/modules/_accordion-showcase.scss",
        "sass/applify/modules/_app-screens.scss",
        "sass/applify/modules/_app-showcase.scss",
        "sass/applify/modules/_app-stats.scss",
        "sass/applify/modules/_blog.scss",
        "sass/applify/modules/_clients-logos.scss",
        "sass/applify/modules/_device-slider.scss",
        "sass/applify/modules/_pricing-cards.scss",
        "sass/applify/modules/_tabbed-showcase.scss",
        "sass/applify/modules/_testimonials.scss",
        "sass/applify/modules/_coming-soon.scss",
        "sass/applify/modules/_pricing-table.scss",
        "sass/applify/modules/_api-docs.scss",
        "sass/applify/modules/_contact-page.scss",
        "sass/applify/modules/_404-page.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_breakpoints.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_hover.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_image.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_badge.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_resize.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_screen-reader.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_size.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_reset-text.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_text-emphasis.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_text-hide.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_text-truncate.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_visibility.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_alert.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_buttons.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_caret.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_pagination.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_lists.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_list-group.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_nav-divider.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_forms.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_table-row.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_background-variant.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_border-radius.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_box-shadow.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_gradients.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_transition.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_clearfix.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_navbar-align.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_grid-framework.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_grid.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_float.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_align.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_background.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_borders.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_clearfix.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_display.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_embed.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_flex.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_float.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_position.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_screenreaders.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_sizing.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_spacing.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_text.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_visibility.scss",
        "sass/applify/libs/font-awesome/_variables.scss",
        "sass/applify/libs/font-awesome/_mixins.scss",
        "sass/applify/libs/font-awesome/_path.scss",
        "sass/applify/libs/font-awesome/_core.scss",
        "sass/applify/libs/font-awesome/_icons.scss",
        "sass/applify/libs/font/_variables.scss",
        "sass/applify/libs/font/_core.scss",
        "sass/applify/libs/owl.carousel/_core.scss",
        "sass/applify/libs/owl.carousel/_animate.scss",
        "sass/applify/libs/owl.carousel/_autoheight.scss",
        "sass/applify/libs/owl.carousel/_theme.default.scss",
        "sass/applify/libs/owl.carousel/_theme.scss"
      ]
    },
    {
      "path": "sass/applify/_applify.scss",
      "imports": [
        "sass/applify/mixins/_animations.scss",
        "sass/applify/mixins/_breakpoints.scss",
        "sass/applify/mixins/_colors.scss",
        "sass/applify/mixins/_shadows.scss",
        "sass/applify/mixins/_transform.scss",
        "sass/applify/mixins/_flexbox.scss",
        "sass/applify/libs/font-awesome/_font-awesome.scss",
        "sass/applify/libs/font/_vazir.scss",
        "sass/applify/libs/owl.carousel/_owl.carousel.scss",
        "sass/applify/libs/simple-line-icons/_simple-line-icons.scss",
        "sass/applify/libs/slider-pro/_slider-pro.scss",
        "sass/applify/libs/prism/_prism.scss",
        "sass/applify/utilities/_animations.scss",
        "sass/applify/utilities/_colors.scss",
        "sass/applify/utilities/_media.scss",
        "sass/applify/utilities/_shadows.scss",
        "sass/applify/utilities/_spacing.scss",
        "sass/applify/utilities/_typography.scss",
        "sass/applify/core/_base.scss",
        "sass/applify/core/_base_rtl.scss",
        "sass/applify/components/_accordion.scss",
        "sass/applify/components/_buttons.scss",
        "sass/applify/components/_cards.scss",
        "sass/applify/components/_collapsible-nav.scss",
        "sass/applify/components/_dropdowns.scss",
        "sass/applify/components/_footer.scss",
        "sass/applify/components/_hero.scss",
        "sass/applify/components/_icon-blocks.scss",
        "sass/applify/components/_logos-cloud.scss",
        "sass/applify/components/_modal.scss",
        "sass/applify/components/_navbar.scss",
        "sass/applify/components/_sections.scss",
        "sass/applify/components/_tabs.scss",
        "sass/applify/components/_video.scss",
        "sass/applify/components/_showcase-blocks.scss",
        "sass/applify/components/_steps.scss",
        "sass/applify/modules/_accordion-showcase.scss",
        "sass/applify/modules/_app-screens.scss",
        "sass/applify/modules/_app-showcase.scss",
        "sass/applify/modules/_app-stats.scss",
        "sass/applify/modules/_blog.scss",
        "sass/applify/modules/_clients-logos.scss",
        "sass/applify/modules/_device-slider.scss",
        "sass/applify/modules/_pricing-cards.scss",
        "sass/applify/modules/_tabbed-showcase.scss",
        "sass/applify/modules/_testimonials.scss",
        "sass/applify/modules/_coming-soon.scss",
        "sass/applify/modules/_pricing-table.scss",
        "sass/applify/modules/_api-docs.scss",
        "sass/applify/modules/_contact-page.scss",
        "sass/applify/modules/_404-page.scss",
        "sass/applify/libs/font-awesome/_variables.scss",
        "sass/applify/libs/font-awesome/_mixins.scss",
        "sass/applify/libs/font-awesome/_path.scss",
        "sass/applify/libs/font-awesome/_core.scss",
        "sass/applify/libs/font-awesome/_icons.scss",
        "sass/applify/libs/font/_variables.scss",
        "sass/applify/libs/font/_core.scss",
        "sass/applify/libs/owl.carousel/_core.scss",
        "sass/applify/libs/owl.carousel/_animate.scss",
        "sass/applify/libs/owl.carousel/_autoheight.scss",
        "sass/applify/libs/owl.carousel/_theme.default.scss",
        "sass/applify/libs/owl.carousel/_theme.scss"
      ]
    },
    {
      "path": "sass/bootstrap-4.0.0-beta/_bootstrap-custom.scss",
      "imports": [
        "sass/bootstrap-4.0.0-beta/_functions.scss",
        "sass/bootstrap-4.0.0-beta/_variables.scss",
        "sass/bootstrap-4.0.0-beta/_mixins.scss",
        "sass/bootstrap-4.0.0-beta/_reboot.scss",
        "sass/bootstrap-4.0.0-beta/_type.scss",
        "sass/bootstrap-4.0.0-beta/_grid.scss",
        "sass/bootstrap-4.0.0-beta/_forms.scss",
        "sass/bootstrap-4.0.0-beta/_buttons.scss",
        "sass/bootstrap-4.0.0-beta/_transitions.scss",
        "sass/bootstrap-4.0.0-beta/_dropdown.scss",
        "sass/bootstrap-4.0.0-beta/_button-group.scss",
        "sass/bootstrap-4.0.0-beta/_input-group.scss",
        "sass/bootstrap-4.0.0-beta/_pagination.scss",
        "sass/bootstrap-4.0.0-beta/_badge.scss",
        "sass/bootstrap-4.0.0-beta/_custom-forms.scss",
        "sass/bootstrap-4.0.0-beta/_nav.scss",
        "sass/bootstrap-4.0.0-beta/_navbar.scss",
        "sass/bootstrap-4.0.0-beta/_card.scss",
        "sass/bootstrap-4.0.0-beta/_modal.scss",
        "sass/bootstrap-4.0.0-beta/_utilities.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_breakpoints.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_hover.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_image.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_badge.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_resize.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_screen-reader.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_size.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_reset-text.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_text-emphasis.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_text-hide.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_text-truncate.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_visibility.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_alert.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_buttons.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_caret.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_pagination.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_lists.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_list-group.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_nav-divider.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_forms.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_table-row.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_background-variant.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_border-radius.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_box-shadow.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_gradients.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_transition.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_clearfix.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_navbar-align.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_grid-framework.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_grid.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_float.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_align.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_background.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_borders.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_clearfix.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_display.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_embed.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_flex.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_float.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_position.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_screenreaders.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_sizing.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_spacing.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_text.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_visibility.scss"
      ]
    },
    {
      "path": "sass/bootstrap-4.0.0-beta/_mixins.scss",
      "imports": [
        "sass/bootstrap-4.0.0-beta/mixins/_breakpoints.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_hover.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_image.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_badge.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_resize.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_screen-reader.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_size.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_reset-text.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_text-emphasis.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_text-hide.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_text-truncate.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_visibility.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_alert.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_buttons.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_caret.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_pagination.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_lists.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_list-group.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_nav-divider.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_forms.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_table-row.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_background-variant.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_border-radius.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_box-shadow.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_gradients.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_transition.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_clearfix.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_navbar-align.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_grid-framework.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_grid.scss",
        "sass/bootstrap-4.0.0-beta/mixins/_float.scss"
      ]
    },
    {
      "path": "sass/bootstrap-4.0.0-beta/_utilities.scss",
      "imports": [
        "sass/bootstrap-4.0.0-beta/utilities/_align.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_background.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_borders.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_clearfix.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_display.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_embed.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_flex.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_float.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_position.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_screenreaders.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_sizing.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_spacing.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_text.scss",
        "sass/bootstrap-4.0.0-beta/utilities/_visibility.scss"
      ]
    },
    {
      "path": "sass/applify/libs/font/_vazir.scss",
      "imports": [
        "sass/applify/libs/font/_variables.scss",
        "sass/applify/libs/font/_core.scss"
      ]
    },
    {
      "path": "sass/applify/libs/font-awesome/_font-awesome.scss",
      "imports": [
        "sass/applify/libs/font-awesome/_variables.scss",
        "sass/applify/libs/font-awesome/_mixins.scss",
        "sass/applify/libs/font-awesome/_path.scss",
        "sass/applify/libs/font-awesome/_core.scss",
        "sass/applify/libs/font-awesome/_icons.scss"
      ]
    },
    {
      "path": "sass/applify/libs/owl.carousel/_owl.carousel.scss",
      "imports": [
        "sass/applify/libs/owl.carousel/_core.scss",
        "sass/applify/libs/owl.carousel/_animate.scss",
        "sass/applify/libs/owl.carousel/_autoheight.scss",
        "sass/applify/libs/owl.carousel/_theme.default.scss",
        "sass/applify/libs/owl.carousel/_theme.scss"
      ]
    },
    {
      "path": "sass/applify/libs/owl.carousel/_theme.default.scss",
      "imports": [
        "sass/applify/libs/owl.carousel/_theme.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}